body {
  margin: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #121119;
  color: #ffffff;
  line-height: 1.6;
}

main {
  padding: 2rem;
  min-height: 80vh;
}

h1 {
  color: #00c896;
  text-align: center;
  margin-bottom: 1.5rem;
}

p {
  text-align: center;
  color: #cccccc;
}
